* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-card: white;
  --color-text: hsl(278, 68%, 11%);
  --border-color: rgb(175, 175, 175);
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: var(--color-text);
}

.col {
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 250px;
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--color-text-card);
}

.cards {
  position: relative;
}

.cards img {
  border-radius: 10px;
}

.back-card {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 90px;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.front-card {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 130px;
  left: 40px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.print {
  position: relative;
}

.number-print {
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  top: 200px;
  left: 55px;

  letter-spacing: 0.2rem;
  z-index: 2;
}

.name-print {
  font-size: 0.5rem;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 55px;

  letter-spacing: 0.1rem;
  z-index: 2;
}

.val-print {
  font-size: 0.5rem;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 240px;

  letter-spacing: 0.1rem;
  z-index: 2;
}

.cvv-print {
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 96px;
  left: 280px;

  letter-spacing: 0.1rem;
  z-index: 2;
}

.logo-card {
  width: 50px;
  position: absolute;
  top: 150px;
  left: 55px;
  z-index: 2;
}

.dados {
  padding: 110px 20px 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flexbox {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

label > span,
legend {
  margin-bottom: 6px;
  display: block;
}

.style-input {
  width: 100%;
  height: 50px;
  border: var(--border-color) solid 1px;
  border-radius: 8px;

  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  padding-left: 10px;

  margin-bottom: 12px;
}

*:focus {
  outline: none;
}

fieldset {
  display: flex;
  gap: 5px;

  border: none;
}

.val-input {
  width: 100%;
  height: 50px;
  border: var(--border-color) solid 1px;
  border-radius: 8px;

  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.val-cvv {
  display: flex;
  align-items: center;

  margin-top: 30px;
  gap: 15px;
}

.cvv-input {
  width: 100%;
  height: 50px;
  border: var(--border-color) solid 1px;
  border-radius: 8px;

  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.confirm {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  height: 60px;
  width: 100%;
  border: none;
  background-color: var(--color-text);
  border-radius: 8px;
  color: var(--color-text-card);
  margin-top: 60px;
  &:hover {
    background-color: hsl(278, 32%, 22%);
  }

  &:active {
    background-color: hsl(278, 68%, 11%);
  }
}

@media (min-width: 768px) {
  .col {
    display: flex;
    flex-direction: row;
  }
  header {
    width: 40%;
    height: 100vh;
  }

  .back-card {
    width: 100%;
    height: 220px;
    position: absolute;
    top: 350px;
    left: 150px;
  }

  .front-card {
    width: 100%;
    height: 220px;
    position: absolute;
    top: 100px;
    left: 80px;
  }

  .dados {
    max-width: 45%;
    margin: 0 auto;
  }

  .flexbox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
