* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-card: white;
  --color-text: hsl(278, 68%, 11%);
  --border-color: rgb(175, 175, 175);
}

body {
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;
  color: var(--color-text);
}

.cards {
  height: 250px;
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--color-text-card);
}

.back-card {
  width: 310px;
  height: 170px;

  background-image: url(./assets/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 40px;
  left: 80px;
}
.number-print {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.number-name {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  letter-spacing: 0.1rem;
}

.cvc-print {
  position: absolute;
  top: 72px;
  left: 230px;
  font-weight: 700;
}

.front-card {
  padding: 95px 20px 10px 20px;
  background-image: url(./assets/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 310px;
  height: 170px;
  position: absolute;
  top: 140px;
  right: 90px;
  display: flex;
  flex-direction: column;

  display: flex;
  gap: 20px;
}

.dados {
  padding: 110px 20px 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flexbox {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-bottom: 10px;
}

.style-input {
  height: 50px;
  border: var(--border-color) solid 1px;
  border-radius: 8px;
}

.val {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

fieldset {
  width: 40%;
  border: none;
  padding-bottom: 10px;
}

.inputs-val {
  width: 40%;
  display: flex;
  gap: 8px;
}

.val-input {
  width: 102px;
  height: 50px;
  border: var(--border-color) solid 1px;
  border-radius: 8px;
}

.cvc-input {
  height: 50px;

  border: var(--border-color) solid 1px;
  border-radius: 8px;
}

.val-cvc {
  display: flex;
  gap: 15px;
}

.confirm {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  width: 500;
  width: 374px;
  height: 60px;
  border: none;
  background-color: var(--color-text);
  border-radius: 8px;
  color: var(--color-text-card);
}
